body{
    background-color: gray;
}


.btn-primary{
    width: 70px;
    height: 50px;
    margin: 5px;
}


.btn-danger{
    width: 70px;
    height: 50px;
    margin: 5px;
}

.btn-info{
    width: 70px;
    height: 50px;
    margin: 5px;
}


.form-control{
    height: 50px;
}

/* .display{
    width: 380px;
    padding: 10px;
    margin: 10px;
} */

.heading{
    margin-left: 100px;
    margin-top: 30px;
}

.showOperator{
    color: black;    
}
